@theme "sexy-rick"

configuration {
modi: "run";
      kb-cancel: "Escape,Control+g,Alt+F1";
      timeout {
action: "kb-cancel";
delay:  0;
      }
      filebrowser {
          directories-first: true;
          sorting-method:    "name";
      }
}
